<hr>
<div id="items">
	<% @items.each do |item| %>
		<div class="item">
			<h2 class="item_title"><a href="/items/<%= item.id %>"><%= item.title %></a> $<%= item.price %></h2>
			<p class="item_description"><%= item.description %></p>
			<p>created at: <%= item.created_at %></p>
		</div>
	<% end %>
</div>