<% if @rows %>
  <% @rows.each do |row| %>
    <section>
      <img src='<%= row.photo %>'>
      <h3><%= row.name %></h3> is a <h4><%= row.breed %></h4>
      <br>
      <form action='/dogs/<%= row.id %>/delete' method='post'>
        <button>Delete</button>
      </form>
      <a href="/dogs/<%= row.id %>/toy">Add toy</a>
      <a href='/dogs/<%= row.id %>/edit/'>Edit</a>
      <br>
      <br>
      <h3>Toys:</h3>
      <% if !row.toys.empty? %>
        <% row.toys.each do |t|%>
          <p><%=t.toy_type%></p>
        <% end %>
      <% end %>
    </section>
  <% end %>
<% end %>